body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #c910d6;
    padding: 20px 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 400%;
}
.tabela{
    margin: auto;
}
.logo_box {
    width: 940px;
    position: left;
    margin-left: 50px;
}

.logo {
    width: 15%;
}

.Enc {
    font-size: large;
    margin-left: 10em;
    margin-top: 0.5em;
    position: relative;
    padding: 20px;
}

.t1 {
    background-color: lightgray;
    font-weight: bold;
}

td {
    border: 1px solid;
}

hr {
    margin-inline-start: 12em;
    margin-inline-end: 12em;
    margin-bottom: 2em;
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    font-size: 3em;
}

.erro{
    background-color: lightcoral;
}
form{
    width: 60%;
    padding-bottom: 20px;
}
form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
fieldset{
    display: block;
    padding-left: 5%;
    margin-left: 10em;
    margin-bottom: 2%;
    border-style: unset;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 85%;
}
.addButton{
    width: 40%;
    padding: 15px 0;
    color: aliceblue;
    background: #004AAD;
    font-weight: bold;
    font-size: 1.5em;
    border: outset;
    border-radius: 5px;
    cursor: pointer;
}
.bota{
    padding-left: 5%;
    margin-left: 10em;
    margin-bottom: 2%; 
}
.lista-erro{
    font-size: large;
    margin-left: 12em;
    margin-top: 0.5em;
    position: relative;
    /*padding: 20px;*/
    color: red;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}

#filtrar-tabela{
    width: 20%;
    height: 35px;
    margin-bottom: 10px;
}

.filtra-tabela-la{
    margin-left: 12em;
}

.invisivel{
    display: none;
}